<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>TechTonics Web Application</display-name>
  <servlet>
  	<servlet-name>homeServlet</servlet-name>
  	<display-name>homeServlet</display-name>
  	<description></description>
  	<servlet-class>AllServlets.homeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>AllServlets.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<display-name>registerServlet</display-name>
  	<description></description>
  	<servlet-class>AllServlets.registerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getAllTechTalks</servlet-name>
  	<display-name>getAllTechTalks</display-name>
  	<description></description>
  	<servlet-class>AllServlets.getAllTechTalks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addTechTalk</servlet-name>
  	<display-name>addTechTalk</display-name>
  	<description></description>
  	<servlet-class>AllServlets.addTechTalk</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateTechTalk</servlet-name>
  	<display-name>updateTechTalk</display-name>
  	<description></description>
  	<servlet-class>AllServlets.updateTechTalk</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>removeServlet</servlet-name>
  	<display-name>removeServlet</display-name>
  	<description></description>
  	<servlet-class>AllServlets.removeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>conductTechTalkServlet</servlet-name>
  	<display-name>conductTechTalkServlet</display-name>
  	<description></description>
  	<servlet-class>AllServlets.conductTechTalkServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addRequestedTechTalkServlet</servlet-name>
  	<display-name>addRequestedTechTalkServlet</display-name>
  	<description></description>
  	<servlet-class>AllServlets.addRequestedTechTalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>homeServlet</servlet-name>
  	<url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getAllTechTalks</servlet-name>
  	<url-pattern>/getAllTechTalks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addTechTalk</servlet-name>
  	<url-pattern>/addTechTalk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateTechTalk</servlet-name>
  	<url-pattern>/updateTechTalk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removeServlet</servlet-name>
  	<url-pattern>/removeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>conductTechTalkServlet</servlet-name>
  	<url-pattern>/conductTechTalkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addRequestedTechTalkServlet</servlet-name>
  	<url-pattern>/addRequestedTechTalkServlet</url-pattern>
  </servlet-mapping>
</web-app>
